@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700;900&display=swap');

/* Global styling */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

p {
    margin: 10px 0;
}

.container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 40px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* navbar */

.navbar {
    height: 80px;
}

.navbar .flex {
    justify-content: space-between;
}

.navbar ul {
    display: flex;
}

.navbar img {
    margin: 10px 0;
}

.navbar a {
    font-size: 20px;
    padding: 20px;
    margin: 0 5px;
    color: #383833;
    font-weight: 600;
}

.navbar a:hover {
    border-bottom: 2px #000000 solid;
}

/* header */

section {
    background: transparent linear-gradient(180deg, #DEF0D8 0%, #FAFAFA 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    object-fit: cover;
}

section .container {
    height: 80vh;
}

section h1 {
    font-weight: 900;
    color: #383833;
    font-size: 64px;
}

.button-cta {
    background-color: #F19A33;
    color: #ffffff;
    border: none;
    padding: 15px;
    border-radius: 8px;
    width: 200px;
    height: 50px;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
    outline: 0;
}

img .bowl-food {
    max-width: 100%;
    height: auto;
}

.button-cta:hover {
   background-color: #d98a2b;
}

/* improve grid system to look more like design */
/* section .grid {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr; 
    gap: 10px;
} */

section p {
   font-size: 20px;    
}
/* media queries */


/* Tablets and under */
@media(max-width: 768px) {

}

/* Mobile */
@media(max-width: 500px) {
    .navbar {
        height: 110px;
    }
}